note: http://localhost:2020/

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

Latoあいうえお
<br>
初めまして、管理人の岡庭です。ご質問ありがとうございました。
<div class="oz">
ozwald おえrふぃえrg
<br>
初めまして、管理人の岡庭です。ご質問ありがとうございました。
</div>

<div class="opensans">
opensans ぽい
<br>
初めまして、管理人の岡庭です。ご質問ありがとうございました。
</div>
<div class="indieflower">
indieflower おおお
<br>
初めまして、管理人の岡庭です。ご質問ありがとうございました。
</div>

<div class="ubuntu">
ubuntu おおお
<br>
初めまして、管理人の岡庭です。ご質問ありがとうございました。
</div>