/ CONTENT
.content_wrap
  .content
    / カテゴリ１
    %h3
      %a#category1{:name => "category1"}>
      進路相談
    %table.table.table-hover
      %thead
        %tr
          %th 質問
          %th 詳細
          %th 回答
      %tbody
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td 最終試験に向けた計画づくりについて
          %td IBDP最終試験に向けた計画づくりについて・・・
          %td 7
    / カテゴリ２
    %h3
      %a#category2{:name => "category2"}>
      学校・塾評判
    %table.table.table-hover
      %thead
        %tr
          %th 質問
          %th 詳細
          %th 回答
      %tbody
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td 最終試験に向けた計画づくりについて
          %td IBDP最終試験に向けた計画づくりについて・・・
          %td 7
    / カテゴリ３
    %h3
      %a#category3{:name => "category3"}>
      大学評判
    %table.table.table-hover
      %thead
        %tr
          %th 質問
          %th 詳細
          %th 回答
      %tbody
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td 最終試験に向けた計画づくりについて
          %td IBDP最終試験に向けた計画づくりについて・・・
          %td 7
    / 4
    %h3
      %a#category4{:name => "category4"}>
      IB PYPの課題
    %table.table.table-hover
      %thead
        %tr
          %th 質問
          %th 詳細
          %th 回答
      %tbody
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td 最終試験に向けた計画づくりについて
          %td IBDP最終試験に向けた計画づくりについて・・・
          %td 7
    / 5
    %h3
      %a#category5{:name => "category5"}>
      IB MYPの課題
    %table.table.table-hover
      %thead
        %tr
          %th 質問
          %th 詳細
          %th 回答
      %tbody
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td 最終試験に向けた計画づくりについて
          %td IBDP最終試験に向けた計画づくりについて・・・
          %td 7
    / 6
    %h3
      %a#category6{:name => "category6"}>
      IB DPの課題
    %table.table.table-hover
      %thead
        %tr
          %th 質問
          %th 詳細
          %th 回答
      %tbody
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td 最終試験に向けた計画づくりについて
          %td IBDP最終試験に向けた計画づくりについて・・・
          %td 7
    / 7
    %h3
      %a#category7{:name => "category7"}>
      課外活動/CAS
    %table.table.table-hover
      %thead
        %tr
          %th 質問
          %th 詳細
          %th 回答
      %tbody
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td 最終試験に向けた計画づくりについて
          %td IBDP最終試験に向けた計画づくりについて・・・
          %td 7
    / 8
    %h3
      %a#category8{:name => "category8"}>
      TOK/EE
    %table.table.table-hover
      %thead
        %tr
          %th 質問
          %th 詳細
          %th 回答
      %tbody
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td 最終試験に向けた計画づくりについて
          %td IBDP最終試験に向けた計画づくりについて・・・
          %td 7
    / 9
    %h3
      %a#category9{:name => "category9"}>
      試験勉強
    %table.table.table-hover
      %thead
        %tr
          %th 質問
          %th 詳細
          %th 回答
      %tbody
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td インター校に行くべきか
          %td 中学生です。インター校か現地校で迷って・・・
          %td 10
        %tr
          %td 最終試験に向けた計画づくりについて
          %td IBDP最終試験に向けた計画づくりについて・・・
          %td 7
/ CONTENT end