.bottombox
  .input-group
    %input.form-control{:placeholder => "Q&Aを探す", :type => "text"}
      %span.input-group-btn
        %button.btn.btn-default{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_searched.html", :type => "button"} 検索
  .relatedquestions
    .relatedquestionstitle 関連するQ&A
    %ul
      %li ・IBの高校選びにおける、平均点について…
      %li ・最終試験前、家庭ではどんなサポートをしていましたか？？
      %li ・どうすれば日本語文学で良い成績を取れるでしょうか。
  .relatedlinks
    .relatedlinkstitle 関連するリンク
    %ul
      %li ・IBでの生徒の科目選択について IBJPN.com
      %li ・IB2014年科目別点数　情報公開！ IBJPN.com