/ SIDEBAR
/ PROFILE
.profile
  %div
    .name.float
      %i.fa.fa-user
      Yuki Owada
    .clear
    .row
      .col-md-4
        %a.btn.btn-primary{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Likes%23index_user.html", :type => "button"}
          %i.fa.fa-thumbs-o-up
          %span.badge 4
      .col-md-4
        %a.btn.btn-default{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index.html", :role => "button"}
          Q&A記録
      .col-md-4
        %a.btn.btn-default{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/account.html", :role => "button"}
          設定
/ PROFILE end
/ INDEX+RANKING+NEW+LINKS
.ranking
  .space10px
  .space10px
  %a{:href => "", :target => "blank"} 国際バカロレア（IB）とは
  %br
    .space10px
    %a{:href => "", :target => "blank"} IB知恵袋とは
    %br
      .space10px
      .bartitle
        %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html", :target => "blank"}
          カテゴリー
      %ul
        %li
          %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html#category1", :title => "", :target => "blank"}
            ・進路相談
        %li
          %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html#category2", :title => "", :target => "blank"}
            ・学校・塾評判
        %li
          %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html#category3", :title => "", :target => "blank"}
            ・大学評判
        .space10px
        %li
          %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html#category4", :title => "", :target => "blank"}
            ・IB PYPの課題・科目
        %li
          %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html#category5", :title => "", :target => "blank"}
            ・IB MYPの課題・科目
        %li
          %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html#category6", :title => "", :target => "blank"}
            ・IB DPの課題・科目
        %li
          %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html#category7", :title => "", :target => "blank"}
            ・課外活動/CAS
        %li
          %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html#category8", :title => "", :target => "blank"}
            ・TOK/EE
        .space10px
        %li
          %a{:href => "file:///Users/HOkaniwa/Desktop/IBplat%202/Questions%23index_category.html#category9", :title => ""}
            ・試験勉強
      .space10px
      .bartitle
        %a{:href => ""} ランキング
      %ol
        %li IBの科目選択はどうすれば…
        %li IB校選びで気をつけたこと…
        %li こどもの習い事と両立につ…
        %li 英語の学習方法が、家庭で…
        %li 英語の学習方法が、家庭で…
        %li I
        %li I
        %li I
        %li I
        %li I
      .space10px
      .bartitle
        %a{:href => ""} IB生注目のQ&A
      %ol
        %li Japのコメンタリー、どう…
        %li IB校選びで気をつけたこと…
        %li 英語の先生から、「あまり…
        %li 英語の勉強方法を学校でど…
      .space10px
      .bartitle
        %a{:href => ""} 新着Q&A
      ・IBの試験準備はどうすれば…
      %br
        ・IB校選びで失敗しましたが…
        %br
          ・こどもの習い事と両立につ…
          %br
            ・英語と日本語では、どのよ…
            %br
              .space10px
              .bartitle
                %a{:href => ""} リンク
              %a{:href => "https://www.facebook.com/groups/IB.Community.Japan/?ref=ts&fref=ts", :target => "blank"}
                ・Facebook国際バカロレアコミュニティ
              %br
                %a{:href => "http://ibjpn.com/", :target => "blank"}
                  ・IBJPN.com
                %br
                  %a{:href => "http://www.ibo.org/", :target => "blank"}
                    ・International Baccalaureate Program
                  %br
                    .space10px
  / SIDEBAR end
/ div row end
